/* Dashboard container styles */
.dashboard-container {
    position: relative;
    min-height: calc(100vh - 70px);
}

.dashboard-tile {
    padding: 16px;
    border-radius: 8px;
    height: 100%;
}

.fill-grid {
    min-height: 90%;
}

/* Progress bar styles */
.progress-bars-container {
    margin-top: 1rem;
}

.mt-2.px-4,
.mt-n2.px-4 {
    margin-top: 0.3rem !important;
}
