@using HemSoft.EggIncTracker.Data.Dtos
@using EggDash.Client.Services
@using EggDash.Client.Extensions

<div class="event-carousel" style="z-index: 1; height: 100%; display: flex; align-items: center; justify-content: center; width: 100%;">
    <MudText Typo="Typo.subtitle1">Event Carousel</MudText>
</div>

@code {
    [Parameter] public bool IsDarkMode { get; set; }
}
